<div>
  <h1><b>RWC</b></h1>
  <br />

  <!-- Edit Profile -->
  <div style="max-width: 600px">
    <form action="/update-profile/<%= @profile['uuid'] %>" method="post" accept-charset="utf-8"
      class="form-horizontal navy-skip">

      <%- [
        ['Name', 'name', 'text', 'localhost'],
        ['Host', 'host', 'text', '127.0.0.1'],
        ['Port', 'port', 'number', '6379'],
        ['Password', 'password', 'password'],
        ['DB', 'db', 'number', '0'],
        ].each { |label, key, type, default| -%>
        <div>
          <label><%= label %></label>
          <input type="<%= type %>" name="profile[<%= key %>]" value="<%= @profile[key] %>"
            class="form-control"
            <%= 'required' if default %>
            >
        </div>
      <%- } -%>

      <br />
      <button class="btn btn-primary">Update and back</button>
      <a href="/" class="btn btn-default">Cancel and back to list</a>
    </form>

    <hr />

    <form action="/delete-profile/<%= @profile['uuid'] %>" method="post" accept-charset="utf-8"
      class="form-horizontal navy-skip">
      <button class="btn btn-danger"
        onclick="return confirm('Are you sure you want to delete this profile?')"
        >Delete</button>
    </form>
  </div>

</div>
