<div class="row">
  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">

    <form action="/<%= @profile['uuid'] %>" method="get" accept-charset="utf-8"
      data-navy-aimed="ul.key-list">
      <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
          <input type="text" class="filter form-control trigger-submit-when-keydown"
            name="f" autofocus spellcheck="false" value="<%= filter %>"
            style="font-weight: bold; font-size: 12px; margin-bottom: 10px">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <select class="filter-type form-control trigger-submit-when-change" name="t"
            style="font-weight: bold; font-size: 12px; margin-bottom: 10px">
            <%- %w[All String List Set ZSet Hash].each { |l| -%>
              <option value="<%= l.downcase %>"
                <%= 'selected' if l.downcase == filter_type %>>
                <%= l == 'All' ? 'All Types' : "#{l} Only" %>
              </option>
            <%- } -%>
          </select>
        </div>
      </div>
    </form>

    <%- url_base = "/#{@profile['uuid']}/?t=#{filter_type}&f=" -%>

    <ul class="key-list">
      <li><b><%= matches_count %> items matched.</b></li>

      <%- if filter.to_s != '' -%>
        <li><a href="<%= url_base %>">... home</a></li>
        <li><a href="<%= url_base %><%= back_filter %>">... back</a></li>
      <%- end -%>

      <%- keys.each { |key, type| -%>
        <%- if type -%>
          <li class="matched">
            <a href="<%= url_base %><%= key %>&v=1">
              <%= "#{key} [#{type}]" %>
            </a>
          </li>

        <%- else -%>
          <li>
            <a href="<%= url_base %><%= key %>:">
              <%= "#{key}:*" %>
            </a>
          </li>
        <%- end -%>
      <%- } -%>
    </ul>
  </div>

  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
    <form action="/<%= @profile['uuid'] %>/delete" method="post" accept-charset="utf-8"
      class="form-horizontal navy-skip"
      enctype="multipart/form-data"
      >
      <button class="btn btn-danger delete-all-btn"
        onclick="return confirm('Are you sure you want to delete all selected keys?')"
        ><i class="fa fa-trash"></i> Delete All</button>

      <a href="/" class="btn btn-default">Switch Profile</a>
    </form>
    <hr />

    <dl class="dl-horizontal">
      <%- %w[Name Host Port Password DB].each { |k| -%>
        <dt style="width: 80px"><%= k %></dt>
        <dd style="margin-left: 100px"><%= @profile[k.downcase] %></dd>
      <%- } -%>
    </dl>
  </div>
</div>
