<div>
  <!-- New Profile -->
  <div class="new-profile hidden">
    <form action="/create-profile" method="post" accept-charset="utf-8"
      style="max-width: 600px"
      class="form-horizontal">

      <p><b>Create a new profile</b></p>
      <br />

      <%- [
        ['Name', 'name', 'text', 'localhost'],
        ['Host', 'host', 'text', '127.0.0.1'],
        ['Port', 'port', 'number', '6379'],
        ['Password', 'password', 'password'],
        ['DB', 'db', 'number', '0'],
        ].each { |label, key, type, default| -%>
        <div>
          <label><%= label %></label>
          <input type="<%= type %>" name="profile[<%= key %>]" value="<%= default %>"
            class="form-control"
            <%= 'required' if default %>
            >
        </div>
      <%- } -%>

      <br />
      <button class="btn btn-primary"><i class="fa fa-save"></i> Create Profile</button>
      <a href="javascript:void(0)" class="btn btn-default" data-toggle=".profile-list,.new-profile">Cancel and back to list</a>
    </form>
  </div>

  <!-- Profile Table -->
  <div class="profile-list">
    <p><b>Please select a profile</b></p>
    <br />
    <table class="table" style="max-width: 1200px">
      <thead>
        <tr>
          <th>Profile</th>
          <th>Host</th>
          <th>Port</th>
          <th>Password</th>
          <th>DB</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%- profiles.each { |p| -%>
          <tr>
            <td><%= p['name'] %></td>
            <td><%= p['host'] %></td>
            <td><%= p['port'] %></td>
            <td><%= p['password'] %></td>
            <td><%= p['db'] %></td>
            <td style="text-align:right">
              <a href="/edit-profile/<%= p['uuid'] %>" class="btn btn-default">Edit</a>
              <a href="/<%= p['uuid'] %>" class="btn btn-primary navy-skip">Access</a>
            </td>
          </tr>
        <%- } -%>
        <%- if profiles.empty? -%>
          <tr>
            <td colspan="6">
              No profile found, please create a profile first.
            </td>
          </tr>

        <%- end -%>
      </tbody>
    </table>

    <a href="javascript:void(0)" class="btn btn-default"
      data-toggle=".profile-list,.new-profile">
      <i class="fa fa-plus"></i>
      New Profile
    </a>
  </div>

</div>
