<div>
  <div class="page">
    <h3>
      <b>Key: <%= key %> (<%= type %>)</b>
    </h3>

    <br />

    <%- if type == :string -%>
      <form action="/<%= @profile['uuid'] %>/update-value" method="post"
        class="update-value"
        data-navy-aimed="form.update-value">
        <input type="hidden" name="key" value="<%= key %>">
        <textarea name="new_value" class="form-control" rows="10" required><%= value %></textarea>
        <br />
        <button class="btn btn-primary"><i class="fa fa-save"></i> Update</button>
        <%- if session[:notice] -%>
          <span class="fade-out"><%= session.delete(:notice) %></span>
        <%- elsif session[:error] -%>
          <span class="fade-out" style="color: red"><%= session.delete(:error) %></span>
        <%- end -%>
      </form>
      <br />

    <%- else -%>
      <div class="value-page">
        <p>
          <%= value.to_a.length %> values found.
        </p>

        <table class="table">
          <thead>
            <tr>
              <%- headers = {
                list: %w[Index Value],
                set: %w[Index Value],
                hash: %w[Key Value],
                zset: %w[Value Score],
              }[type] -%>
              <th style="width: 38.2%"><%= headers[0] %></th>
              <th><%= headers[1] %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <%- value.each { |k, v| -%>
              <tr>
                <td><%= k %></td>
                <td class="searchable"><%= v %></td>
                <td>

                  <form action="/<%= @profile['uuid'] %>/delete-item"
                    method="post" accept-charset="utf-8"
                    class="form-horizontal navy-skip"
                    enctype="multipart/form-data"
                    >
                    <input type="hidden" name="key" value="<%= key %>">
                    <input type="hidden" name="subkey" value="<%=
                      type == :set ? v : k
                    %>">
                    <button class="btn btn-xs btn-danger"
                      onclick="return confirm('Are you sure you want to delete this item?')"
                      ><i class="fa fa-trash"></i> Delete</button>
                  </form>

                </td>
              </tr>
            <%- } -%>
          </tbody>
        </table>

      <%- end -%>

      <form action="/<%= @profile['uuid'] %>/delete" method="post" accept-charset="utf-8"
        class="form-horizontal navy-skip"
        enctype="multipart/form-data"
        >
        <input type="hidden" name="key" value="<%= key %>">
        <button class="btn btn-danger"
          onclick="return confirm('Are you sure you want to delete the key?')"
          ><i class="fa fa-trash"></i> Delete This Value</button>

        <%- if type == :set -%>
          <a data-hide=".value-page" data-show=".add-subkey"
            class="btn btn-default"
            href="javascript:void(0)">
            SADD
          </a>
        <%- end -%>

        <a href="/<%= @profile['uuid'] %>/?t=<%= type %>&f=<%= key %>"
          class="btn btn-default navy-skip">
          Back
        </a>
      </form>
    </div>

    <div class="add-subkey hidden">
      <form action="/<%= @profile['uuid'] %>/update-value" method="post"
        class="update-value navy-skip"
        data-navy-aimed="form.update-value">
        <input type="hidden" name="key" value="<%= key %>">
        <textarea name="new_value" class="form-control" rows="10" required></textarea>
        <br />
        <button class="btn btn-primary"><i class="fa fa-save"></i> SADD</button>
        <a href="javascript:void(0)" data-hide=".add-subkey" data-show=".value-page"
          class="btn btn-default">
          Cancel
        </a>
        <%- if session[:notice] -%>
          <span class="fade-out"><%= session.delete(:notice) %></span>
        <%- elsif session[:error] -%>
          <span class="fade-out" style="color: red"><%= session.delete(:error) %></span>
        <%- end -%>
      </form>
    </div>

    <hr />
    <p><b>Manual</b></p>
    <ul>
      <li>
        <a href="http://redis.io/commands#<%= type %>" target="_blank"><%= type.capitalize %></a>
      </li>
    </ul>

  </div>
</div>
