$dark: hsl(212, 14%, 27%);
$input-rounded: 2px;

* {
  @include box-sizing(border-box);
  opacity: 1; padding: 0; margin: 0;
  background-repeat: no-repeat;
  vertical-align: middle;
}
html {
  height: 100%;
  background-color: white;
}
body {
  padding: 20px;
  font-family: arial, sans-serif;
  font-weight: 300;
  /*height: 100%;*/
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: monospace;
  line-height: 24px;
  // font-size: 19px;
  color: #3c454f;
  background-color: white;
}

b {
  font-weight: bold;
}

.filter {
  font-family: monospace;
}

ul.key-list {
  font-family: monospace;
  font-size: 13px;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 4px;
  li {
    padding-left: 2px;
    a {
      line-height: 16px;
      display: block;
      color: #3c454f;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
      white-space: nowrap;
      &:hover { background-color: #f0f0f0; }
    }
    &.matched {
      a { color: hsl(240, 87%, 72%); }
    }
  }
}




.custom-menu {
  display: none;
  z-index: 1000;
  position: absolute;
  overflow: hidden;
  border: 1px solid #CCC;
  white-space: nowrap;
  font-family: sans-serif;
  background: #FFF;
  color: #333;
  border-radius: 3px;
}

.custom-menu li {
  padding: 8px 12px;
  cursor: pointer;
}

.custom-menu li:hover {
  background-color: #DEF;
}
