<!doctype html>
<html>
  <head>
    <title><%=page_title%></title>
    <%=css layout%>
    <meta charset="UTF-8">
    <%- ie_scripts -%>
    <link rel="icon" type="image/png" href="/favicon/pokerface.png">
    <link rel="shortcut icon" type="image/png" href="/icon.png"/>
  </head>
  <body
    class="navy-enabled">
    <div>
      <div class="navy-base">
        <%= yield %>
      </div>

      <ul class='custom-menu'>
      </ul>
    </div>

    <div class="footer" style="margin-top: 40px">
      RWC by lokikl &copy; 2016
    </div>

    <%=js layout %>
  </body>
</html>
